.c-about-roll
  margin-top: 80px

  @include mobile
    margin-top: 0px

  .c-container
    @include desktop
      max-width: 1300px !important

  h2
    font-family: $font-amatic
    font-weight: bold
    font-size: 64px
    line-height: 81px
    text-align: center
    margin-bottom: 140px

    @include mobile
      margin-bottom: 46px

    @include highres
      position: relative

      &::after
        content: ''
        position: absolute
        right: calc(50% + -209px)
        top: -62px
        width: 230px
        height: 203px
        z-index: -1
        background-size: contain
        background: url('../img/c-about-page-internal__smoke-3.jpg') no-repeat right 

  img
    display: block
    margin: 0 auto

  strong
    display: block
    font-family: $font-quicksand
    font-weight: 500
    font-size: 20px
    line-height: 25px
    text-align: center
    margin: 24px 0 16px

  p
    display: block
    margin: 0 40px
    font-family: $font-quicksand
    font-size: 16px
    line-height: 20px
    font-feature-settings: 'ordn' on, 'liga' off, 'kern' off
    margin-bottom: 24px

  button
    @extend %button-round
    margin: 0 auto
    display: block

    @include desktop
      display: none

  @include mobile
    .c-should-limit article:nth-of-type(n+3)
      display: none

  &__list
    @include desktop
      display: grid
      grid-template-columns: 1.49fr 1fr
      grid-template-rows: auto auto auto auto auto auto
      grid-template-areas: "grid1 grid2" "grid1 grid2" "grid3 grid2" "grid3 grid4" "grid5 grid4" "grid5 grid4"
      gap: 16px
      margin-bottom: 16px

      div#grid1
        grid-area: grid1
      div#grid2
        grid-area: grid2
      div#grid3
        grid-area: grid3
      div#grid4
        grid-area: grid4
      div#grid5
        grid-area: grid5

      &.mirror
        grid-template-columns: 1fr 1.49fr
        grid-template-areas: "grid2 grid1" "grid2 grid1" "grid2 grid3" "grid4 grid3" "grid4 grid5" "grid4 grid5"

  &__photo
    @include desktop
      position: relative

      img
        filter: grayscale(1)
        transition: filter 0.5s

      &:hover
        img
          filter: grayscale(0)

      .c-overlay
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 1
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background: #222222
        opacity: 0.8
        transition: 300ms opacity
        cursor: default

        &:hover
          opacity: 0


        strong
          font-family: $font-quicksand
          font-size: 32px
          line-height: 40px
          color: #fff

        p
          font-family: $font-quicksand
          font-style: normal
          font-weight: 500
          font-size: 1.1rem
          line-height: 1.3
          text-align: justify
          color: #fff
          max-width: 350px
