.c-about-roll
  .c-container
    @include desktop
      max-width: 1300px !important

  h2
    font-family: $font-amatic
    font-weight: bold
    font-size: 64px
    line-height: 81px
    text-align: center
    margin-bottom: 46px

  img
    display: block
    margin: 0 auto

  strong
    display: block
    font-family: $font-quicksand
    font-weight: 500
    font-size: 20px
    line-height: 25px
    text-align: center
    margin: 24px 0 16px

  p
    display: block
    margin: 0 40px
    font-family: $font-quicksand
    font-size: 16px
    line-height: 20px
    font-feature-settings: 'ordn' on, 'liga' off, 'kern' off
    margin-bottom: 24px

  button
    @extend %button-round
    margin: 0 auto
    display: block

    @include desktop
      display: none

  @include mobile
    .c-should-limit article:nth-of-type(n+3)
      display: none
     
  &__photo
    @include desktop
      position: relative

      .c-overlay
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 1
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
        opacity: 1
        transition: 250ms opacity
        cursor: default

        &:hover
          opacity: 0


        strong
          font-family: $font-quicksand
          font-size: 32px
          line-height: 40px
          color: #fff

        p
          font-family: $font-quicksand
          font-style: normal
          font-weight: 500
          font-size: 20px
          line-height: 25px
          color: #fff
          max-width: 366px

  // Lib styles
  &__masonry-grid
    display: -webkit-box 
    display: -ms-flexbox 
    display: flex
    margin-left: -18px
    margin-bottom: 180px - 18px
    width: auto

  &__masonry-collumn 
    padding-left: 18px
    background-clip: padding-box
  
  &__masonry-collumn  > article  
    margin-bottom: 18px