.c-internal-therapy-type
  @include desktop
    & > .c-container
      max-width: 900px !important 
      padding-bottom: 105px

  &__background-shadow
    @include highres
      width: 100%
      display: block
      position: relative

      &::after
        content: ''
        width: 593px
        height: 464px
        display: block
        position: absolute
        right: 0
        bottom: 0
        background: url('../img/c-types-of-therapy-internal__smoke-3.jpg') no-repeat right
        background-size: contain

  h1, h2
    font-family: $font-amatic
    font-style: normal
    font-weight: bold
    font-size: 64px
    line-height: 100%
    text-align: center
    text-transform: capitalize
    margin-bottom: 48px

    @include desktop
      font-size: 90px
      line-height: 113px
      color: rgba(0, 0, 0, 0.87)

  h1
    position: relative

    @include highres
      &::after
        content: ''
        position: absolute
        right: calc(50% + -150px)
        top: 13px
        width: 209px
        height: 133px
        z-index: -1
        background-size: contain

  h2
    text-align: left
    font-size: 48px
    margin-bottom: 24px

    @include desktop
      font-weight: normal
      font-size: 70px
      line-height: 88px
      text-align: center

  p
    font-family: $font-quicksand
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 20px
    font-feature-settings: 'ordn' on, 'liga' off, 'kern' off
    margin-bottom: 48px

    @include desktop
      font-size: 18px
      line-height: 150%

    & > img
      display: block
      margin: 16px auto 

    & > div
      @include desktop
        display: flex
        flex-direction: row-reverse

        img
          min-width: 450px

        i
          padding-left: 40px
          padding-right: 30px
          font-size: 18px
          line-height: 150%
          display: flex
          align-items: center
          font-feature-settings: 'ordn' on, 'liga' off, 'kern' off

    &:last-of-type
      margin-bottom: 24px

      @include desktop
        font-weight: 500
        font-size: 18px
        line-height: 22px
        text-align: center 

  button
    @extend %button-round
    display: flex
    margin: 0 auto

    img
      margin-right: 8px

    &.c-couple-therapy
    h1
      position: relative
    
      @include highres
        &::after
          content: ''
          position: absolute
          right: calc(50% + -150px)
          top: 13px
          width: 209px
          height: 133px
          z-index: -1
          background-size: contain
          transform: rotate(14deg)
          background: url('../img/c-types-of-therapy-internal__smoke-1.jpg') no-repeat right
          background-size: contain

  &.c-individual-therapy
    h1
      @include highres
        &::after
          right: calc(50% - 70px)
          top: -7px
          background: url('../img/c-types-of-therapy-internal__smoke-1.jpg') no-repeat right

  &.c-couple-therapy
    h1
      @include highres
        &::after
          right: calc(50% - 160px)
          top: -55px
          width: 208px
          height: 200px
          background: url('../img/c-types-of-therapy-internal__smoke-2.jpg') no-repeat right