.c-internal-therapy-type
  h1, h2
    font-family: $font-amatic
    font-style: normal
    font-weight: bold
    font-size: 64px
    line-height: 100%
    text-align: center
    text-transform: capitalize
    margin-bottom: 48px

  h2
    text-align: left
    font-size: 48px
    margin-bottom: 24px

  p
    font-family: $font-quicksand
    font-style: normal
    font-weight: normal
    font-size: 16px
    line-height: 20px
    font-feature-settings: 'ordn' on, 'liga' off, 'kern' off
    margin-bottom: 48px

    & > img
      display: block
      margin: 16px auto 

    &:last-of-type
      margin-bottom: 24px

  button
    @extend %button-round
    display: flex
    margin: 0 auto

    img
      margin-right: 8px
