.c-social-networks
  position: fixed
  left: $body-padding
  bottom: $body-padding
  transition: ease-in-out opacity 100ms
  display: grid
  gap: 8px

  @include desktop
    &.hidden
      opacity: 0
      pointer-events: none
      cursor: none

  @include mobile
    display: flex
    gap: 16px
    position: absolute
    left: auto
    bottom: auto
    top: $body-padding-mobile
    right: $body-padding-mobile

  a
    color: rgba(0, 0, 0, 0.6)
    font-size: 32px
    width: 40px
    height: 40px
    @extend %flex-center-center

    @include mobile
      font-size: 24px
      width: 32px
      height: 32px
      color: rgba(0, 0, 0, 0.6)

  svg
    display: block
    width: 1em

  .c-fix-medium-link svg
    border: 3px solid
    border-radius: 8px
    padding: 4px

    @include mobile
      padding: 4px
