// Landing page header
.c-header-landing-page
  background: url('../img/c-header-landing-page.jpg') no-repeat fixed center
  background-size: cover
  padding-top: 90px
  height: 100vh

  .c-container
    max-width: 1110px

  .c-navbar
    background: transparent

  .c-navbar-item
    font-size: 24px
    line-height: 28px
    color: rgba(0, 0, 0, 0.7)
    font-variant-caps: small-caps
    font-family: "Roboto", sans-serif

  .c-logo
    display: block
    margin-top: 130px
    margin-left: 177px

// Floating bottom left social network icons
.c-social-networks
  position: fixed
  left: 72px
  bottom: 64px

  a
    color: #88A4AE
    font-size: 40px
    height: 35px
    display: block

    &:not(:last-of-type)
      margin-bottom: 22px

  svg
    display: block
